@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1764138557620') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shangyishoushangyige:before {
  content: "\e78a";
}

.icon-xiayigexiayishou:before {
  content: "\e7a5";
}

.icon-kuaitui:before {
  content: "\e878";
}

.icon-kuaijin:before {
  content: "\e879";
}

.icon-liebiaoxunhuan:before {
  content: "\e634";
}

.icon-bofang:before {
  content: "\e635";
}

.icon-zhumianyinle-danquxunhuan:before {
  content: "\e61f";
}

.icon-zhumianyinle-suijibofang:before {
  content: "\e620";
}

.icon-yinliangtiaojie:before {
  content: "\e661";
}

.icon-a-yinliangtiaojieguanbi:before {
  content: "\e662";
}

.icon-bofang1:before {
  content: "\e607";
}

.icon-beisu:before {
  content: "\e6d4";
}

