@import url(@/common.less);
@import url(@/theme.less);

.navs {
  position: relative;
  width: 100%;
  height: 100%;
  background: var(--bg-color);
  color: #fff;
  background-image: var(--bg);
  background-repeat: no-repeat;      /* 防止图片平铺 */
  background-position: center center;/* 水平和垂直都居中 */
  background-size: cover;           /* 根据需要调整图片缩放方式 */
  overflow-y: auto;
  z-index: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  &::after{
    content: '';
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background: var(--overlay);
    pointer-events: none;
    z-index: -1;
  }

  .innerWrap{
    width: 1200px;
    padding-top: 108px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    :global{
      .footer{
        width: calc(100vw - 6px) !important;
        padding: 0;
        height: 50px;
        overflow-y: unset;
      }
    }
  }
}
